body       {color:#000000;
            background:#fff0dd;
            margin-top:0px;
            margin-bottom:0px;
            margin-left:0px;
            margin-right:0px;}

a:link     {color:#000055}
a:visited  {color:#000080}
a:active   {color:#000022}
a:hover    {text-decoration:underline;}



tt         {color:#cc0000;
            font-family:monospace;}
h1         {color:#004500;
            background: #cccc90;
            text-align: left;
            font-size:14pt;
            font-family:sans-serif;
            margin:0px 5px 15px 5px;
            border-style:solid;
            border-top-width:0;
            border-bottom-width:thin;
            border-left-width:thick;
            border-right-width:thin;
            border-color:#555555;
            padding-left:10px;
            padding-top:2px;
            padding-bottom:2px;
            font-weight:bold;}
h2         {color:#000000;
            background-color:#d8b577;
            text-align: left;
            font-size:14pt;
            font-family:sans-serif;
            margin:20px 5px 10px 5px;
            border-style:solid;
            border-top-width:0;
            border-bottom-width:thin;
            border-left-width:thick;
            border-right-width:thin;
            border-color:#555555;
            padding-left:10px;
            padding-top:2px;
            padding-bottom:2px;
            font-weight:bold;
            clear:both;}
h3         {color:#000000;
            font-size:12pt;
            font-family:sans-serif;
            margin:20px 5px 10px 5px;
            padding-left:10px;
            padding-top:2px;
            padding-bottom:2px;
            font-weight:bold;
            clear:both;}

strong.v4  {background: url(image/v4.png);}

p.newver   {color:#ff8800;
            font-size:14pt;
            font-family:sans-serif;
            font-weight:bold;}
div.update {color:#000000;
            font-size:11pt;
            text-align:right;
            font-family:sans-serif;}
div.navi   {font-size:9pt;
            color:#ff0000;
            font-family:sans-serif;
            font-weight:bold;
            text-align:right;
            padding-right:10px;
            height:12pt;}
div.top    {margin-top:20px;
            text-align:right;}
pre.sample {white-space:pre;
            margin-left:5px;
            margin-right:5px;
            margin-bottom:0px;
            font-size:10pt;
            font-family:monospace,sans-serif;
            font-weight:normal;
            background-color:#404040;
            padding:10px 10px;
            color:#ffffff;}

pre.file   {white-space:pre;
            margin-left:5px;
            margin-right:5px;
            font-size:11pt;
            font-family:monospace,sans-serif;
            font-weight:normal;
            background-color:#ffffff;
            border: 1px solid #777777;
            padding:10px 10px;
            border-style:outset;
            color:#000000;}

hr.topsep  {padding: 0;
            border: 0;
            height: 40px;
            background: url(image/bg1.png) repeat;
            margin: 0 0;}
img        {border:0;}


table.incontent
           {background-color:#f0fcf0;
            border:1pt solid;}

td#menu    {font-size:10pt;
            width: 25%;
            line-height: 150%;
            vertical-align: top;
            background-color:#fae8ba;
            padding-right:0px;
            margin: 0px 0px 0px 0px;}

td#menu ul 
           {margin-left: 2px;
            margin-right:0px;
            padding-left:0px;
            line-height: 120%;
            list-style-position:inside;
            list-style-image:url(image/mark2.png);
            background-color:#fafad2; }

td#menu ul ul
           {margin-left:3px;
            margin-right:3px;
            padding-left:0px;
            border-style:solid;
            border-top-width:0;
            border-bottom-width:thin;
            border-left-width:0;
            border-right-width:thin;
            border-color:#555555;
            line-height: 120%;
            list-style-position:inside;
            list-style-image:url(image/mark3.png);
            background-color:#f0fcf0;}

td#menu p  {text-align:left;
            font-size:11pt;
            font-family:sans-serif;
            line-height: 80%;
            background: #e0e090;
            border-style:solid;
            border-top-width:0;
            border-bottom-width:thin;
            border-left-width:0;
            border-right-width:thin;
            border-color:#888888;
            padding-top:4px;
            padding-right:10px;
            padding-bottom:4px;
            padding-left:10px;
            margin-top:1px;
            margin-bottom:0px;
            margin-left:0px;
            margin-right:0px;}

td#content {font-size:11pt;
            width: 75%;
            background-color:#fff0dd;
            margin: 0px 0px 0px 0px;
            padding-bottom: 10px;}

td#content p
           {line-height: 110%;
           font-size:11pt;
           margin:5px 5px 30px 5px;
           color:#000000;
           text-align:left;}
td#content img
          {margin:5px 10px 5px 10px;
           border:0;}

td#content ul
          {list-style-image:url(image/mark1.png);}

td#content ul ul
          {list-style-image:url(image/mark2.png);}

